//-
  options.mixes - an array of mix names (Array<string>)
  options.text  - status text (String)

mixin demo-subsection__status(options)
  if !options
    - options = {};

  -
    let classes = '';

    classes += options.mixes ? options.mixes.join(' ') : '';

  .demo-subsection__status(class=classes)= options.text