//-
  options.mixes - an array of mix names (Array<string>)
  options.theme - theme name (string)
  options.lang  - block language (string)

mixin demo-section(options)
  if !options
    - options = {};

  -
    let classes = [];

    switch (options.theme) {
      case 'colors-and-type':
        classes.push('demo-section_theme_colors-and-type');
        break;
      case 'form-elements':
        classes.push('demo-section_theme_form-elements');
        break;
      case 'cards':
        classes.push('demo-section_theme_cards');
        break;
      case 'headers-and-footers':
        classes.push('demo-section_theme_headers-and-footers');
        break;
    }

    if (options.mixes) {
      classes = classes.concat(options.mixes)
    }

  section.demo-section(class=classes, lang=options.lang)
    block
