include /components/library/body/body
include /components/library/main/main
include /components/library/title-1/title-1
include /components/library/demo-section/demo-section

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title UI kit
  +body({pixelPerfectDesign: false})
    +main
      +title-1({ text: 'UI kit demo', visuallyHidden: true })
      +demo-section({mixes: ['main__section'], theme: 'colors-and-type'})
      +demo-section({mixes: ['main__section'], theme: 'form-elements'})
      +demo-section({mixes: ['main__section'], theme: 'cards'})
      +demo-section({mixes: ['main__section'], theme: 'headers-and-footers'})
