include /components/library/body/body
include /components/library/title-1/title-1

include /components/auxiliary-library/main/main

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title UI kit
  +body({pixelPerfectDesign: false})
    +main
      +title-1({
        text: 'UI kit demo',
        attributes: {'class': 'visually-hidden-block'},
      })
      include includes/colors-and-type.pug
      include includes/form-elements.pug
      include includes/cards.pug
      include includes/headers-and-footers.pug
