include /components/library/body/body
include /components/library/main/main
include /components/library/title-1/title-1
include /components/library/title-2/title-2
include /components/library/title-3/title-3
include /components/library/demo-section/demo-section
include /components/library/grid-of-colors-and-type/grid-of-colors-and-type
include /components/library/color-list/color-list
include /components/library/type-list/type-list

include /components/library/grid-of-form-elements/grid-of-form-elements

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title UI kit
  +body({pixelPerfectDesign: false})
    +main
      +title-1({ text: 'UI kit demo', visuallyHidden: true })

      +demo-section({mixes: ['main__section'], theme: 'colors-and-type'})
        +title-2({text: 'Colors & Type', visuallyHidden: true})
        +grid-of-colors-and-type
          +color-list({
            colorList: [
              {colorName: 'Dark Shade 100%'},
              {colorName: 'Dark Shade 75%'},
              {colorName: 'Dark Shade 50%'},
              {colorName: 'Dark Shade 25%'},
              {colorName: 'Dark Shade 5%'},
              {colorName: 'Purple'},
              {colorName: 'Green'},
            ]
          })
          +type-list({
            typeList: [
              {
                term: {
                  text: 'h1',
                  mixes: ['title-1'],
                },
                details: {
                  text: 'This one is the sub-section or widget title',
                  mixes: ['title-1'],
                },
              },
              {
                term: {
                  text: 'h2',
                  mixes: ['title-2'],
                },
                details: {
                  text: 'Next one is the item title inside widgets',
                  mixes: ['title-2'],
                },
              },
              {
                term: {
                  text: 'h3',
                  mixes: ['title-3'],
                },
                details: {
                  text: 'This is a label or CTA text',
                  mixes: ['title-3'],
                },
              },
              {
                term: {
                  text: 'body',
                  theme: 'body',
                  mixes: ['body'],
                },
                details: {
                  text: 'This is the body text which is used for \
                          most of the design, like paragraphs, lists, etc.',
                  mixes: ['body'],
                },
              },
            ]
          })

      +demo-section({mixes: ['main__section'], theme: 'form-elements'})
        +title-2({text: 'Form Elements', visuallyHidden: true})
        +grid-of-form-elements

      +demo-section({mixes: ['main__section'], theme: 'cards'})
        +title-2({text: 'Cards', visuallyHidden: true})

      +demo-section({mixes: ['main__section'], theme: 'headers-and-footers'})
        +title-2({text: 'Headers & Footers', visuallyHidden: true})
