include /components/library/body/body
include /components/library/main/main
include /components/library/title-1/title-1

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title UI kit
  +body({pixelPerfectDesign: false})
    +main
      +title-1({ text: 'UI kit demo', visuallyHidden: true })
