include /components/library/body/body
include /components/library/main/main

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title UI kit
  +body({pixelPerfectDesign: false})
    +main
