//-
  options.text  - term text (string)
  options.theme - term theme (string)
  options.attributes - attributes (Object)

mixin type-list__term(options)
  if !options
    - options = {};

  -
    let classes = [];

    if (options.theme === 'body') {
      classes.push('type-list__term_theme_body')
    }

  dt.type-list__term(class=classes)&attributes(options.attributes)= options.text
