include /components/library/color-list/__item/color-list__item

//-
  options.colorList  - color list options (Array<Object>)
  options.attributes - attributes (Object)

mixin color-list(options)
  if !options
    - options = {};

  ul.color-list&attributes(options.attributes)
    each value in options.colorList
      +color-list__item(value)
