.demo-section {
  background-image: url(library.blocks/demo-section/logo.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 30px 30px;

  width: 1440px;
  height: 900px;
}
