//-
  options.colorName - color name (string)
  options.attributes - attributes (Object)

mixin color-list__color-name(options)
  if !options
    - options = {};

  span.color-list__color-name&attributes(options.attributes)= options.colorName
