//-
  options.colorName - color name (string)
  options.lang      - language (string)

mixin color-list__color-name(options)
  if !options
    - options = {};

  span.color-list__color-name(lang=options.lang)= options.colorName
