//-
  options.colorName  - color name (String)
  options.attributes - attributes (Object)

mixin color-list__color-name(options = {})
  span.color-list__color-name&attributes(options.attributes)= options.colorName
