include /components/library/title-2/title-2

include /components/auxiliary-library/demo-section/demo-section

+demo-section({
  theme: 'cards',
  attributes: {
    'class': ['main__section'],
  },
})
  +title-2({
    text: 'Cards',
    attributes: {'class': 'visually-hidden-block'},
  })
