include /components/library/title-2/title-2

include /components/auxiliary-library/demo-section/demo-section

include /components/auxiliary-library/grid-of-form-elements/grid-of-form-elements
include /components/auxiliary-library/container/container

+demo-section({
  theme: 'form-elements',
  attributes: {
    'class': ['main__section'],
  },
})
  +title-2({
    text: 'Form Elements',
    attributes: {'class': 'visually-hidden-block'},
  })
  +grid-of-form-elements
    +container({
      attributes: {'class': 'grid-of-from-elements__container-1'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-2'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-3'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-4'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-5'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-6'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-7'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-8'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-9'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-10'}
    })
    +container({
      attributes: {'class': 'grid-of-from-elements__container-11'}
    })
