$dark-red: 31;
$dark-green: 32;
$dark-blue: 65;

$color-dark-100: rgb($dark-red, $dark-green, $dark-blue, 1);
$color-dark-75: rgb($dark-red, $dark-green, $dark-blue, 0.75);
$color-dark-50: rgb($dark-red, $dark-green, $dark-blue, 0.5);
$color-dark-25: rgb($dark-red, $dark-green, $dark-blue, 0.25);
$color-dark-5: rgb($dark-red, $dark-green, $dark-blue, 0.05);

$color-primary: #bc9cff;
$color-secondary: #6fcf97;
