.grid-of-colors-and-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .grid-of-colors-and-type {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .grid-of-colors-and-type {
    padding: 145px 5% 10%;
  }
}
