include /components/auxiliary-library/type-list/__term/type-list__term
include /components/auxiliary-library/type-list/__details/type-list__details

//-
  options.typelist   - type list options (Array<Object>)
  options.attributes - attributes (Object)

mixin type-list(options = {})
  dl.type-list&attributes(options.attributes)
    each value in options.typeList
      +type-list__term(value.termOptions)
      +type-list__details(value.detailsOptions)
