@use '@theme/variables';

.body {
  background-color: #e5e5e5;
  color: variables.$color-dark-75;
  font-weight: variables.$text-font-weight-normal;
  font-style: variables.$text-font-style;
  font-size: 1rem;

  font-family: variables.$text-font-family;
  line-height: 1.715rem;
}
