@use '@theme/variables';

.body {
  color: variables.$color-dark-75;
  font-weight: variables.$text-font-weight-normal;
  font-style: variables.$text-font-style;
  font-size: 1rem;

  font-family: variables.$text-font-family;
  line-height: variables.$text-line-height;
}
