@font-face {
  font-family: 'Montserrat';
  src: url('theme/fonts/Montserrat/Montserrat-Regular.eot'),
    url('theme/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('theme/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('theme/fonts/Montserrat/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('theme/fonts/Montserrat/Montserrat-Bold.eot'),
    url('theme/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('theme/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('theme/fonts/Montserrat/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
