//-
  options.text            - title text (string)
  options.vissuallyHidden - enable/disable available title hiding (boolean)

mixin title-1(options)
  if !options
    - options = {};

  -
    let classes = [];

    if (options.visuallyHidden === true) {
      classes.push('title-1_visually-hidden');
    }

  h1.title-1(class=classes)= options.text
