@use '@theme/variables';

.title-1 {
  margin: 0;
  color: variables.$dark-shade;
  font-weight: variables.$text-font-weight-bold;
  font-style: variables.$text-font-style;

  font-size: 1.715rem;
  line-height: 2.071rem;
}
