doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="index.scss")
    title layout-practice
  body
    header
      h1 layout-practice

    main
      section
        h2 Test styles
        p
          span.style-tester.style-tester_background_yellow
            | The background color of this text should be yellow!
      section
        h2 Test script
        p.script-tester

    script(src="index.js")
