include library.blocks/body-block/body-block
include library.blocks/heading-level-1/heading-level-1

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet' href='./ui-kit.scss')
    title UI kit
  +body-block
    +heading-level-1({text: 'UI kit', hidden: false})
