include library.blocks/heading-level-1/heading-level-1
include library.blocks/demo-section/demo-section

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title UI kit
  body
    +heading-level-1({text: 'UI kit', hidden: true})
    +demo-section
