//-
  options.text  - details text (string)
  options.attributes - attributes (Object)

mixin type-list__details(options)
  if !options
    - options = {};

  dd&attributes(options.attributes)= options.text
