//-
  options.text            - block text (string)
  options.vissuallyHidden - enable/disable available block hiding (boolean)
  options.lang            - block language (string)

mixin title-2(options)
  if !options
    - options = {};

  -
    let classes = [];

    if (options.visuallyHidden === true) {
      classes.push('title-2_visually-hidden');
    }

  h2.title-2(class=classes, lang=options.lang)= options.text
