//-
  options.text            - text (String)
  options.vissuallyHidden - enable/disable available block hiding (Boolean)
  options.attributes      - attributes (Object)

mixin title-2(options)
  if !options
    - options = {};

  -
    let classes = [];

    if (options.visuallyHidden === true) {
      classes.push('title-2_visually-hidden');
    }

  h2.title-2(class=classes)&attributes(options.attributes)= options.text
