@use 'theme/variables.scss';

.body-block {
  font-family: variables.$font-family;
  font-weight: variables.$font-weight-normal;
  font-style: variables.$font-style;
  font-size: variables.$font-size;
  line-height: variables.$line-height;
}
