.type-list {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-auto-rows: min-content;
  row-gap: 51px;

  max-width: 436px;
  column-gap: 30px;
}

@media (max-width: 1024px) {
  .type-list {
    max-width: none;
    padding-top: 50px;
  }
}
